/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
  font-size: 14px;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

img {
  width: 100%;
}

/* --- Form --- */

.form-button {
  justify-content: center;
  align-self: center;
}

.form-item {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

button {
  font-size: 24px;
  display: flex;
  justify-content: center;
  background-color: #ff385c;
  padding: 15px;
  margin-top: 10px;
  color: #fff;
  border: none;
}

fieldset div {
  display: flex;
  justify-content: space-between;
}

input, select {
  width: 160px;
  min-width: 0;
}

fieldset {
  min-width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 15px;
  border-color: #ff385c;
  
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}

.item {
  flex: 1;
  margin-bottom: 10px;
}

.item-double {
  padding-left: 15px;
  flex: 2;
}


/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  justify-content: center;
  display: flex;
}

header nav {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 10px;
} 

header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

header nav ul li {
  
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  flex-direction: row;
  text-decoration: none;
  padding: 0 20px 0 0;
  margin-right: 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}


/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {

  .group {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  }

 .align-center {
    align-items: center;
    display: flex;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    }
  
  header nav ul{
    margin: 0;
    justify-content: end;
  }
  
  .logo {
    font-size: 30px;
    align-self: auto;
    padding-left: 10px;
  }
  
  .item {
    margin: 5px 5px 5px 5px;
  }

  ul {
    justify-content: end;
  }

  header .group {
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 5px;
  }

  /*--Form Box--*/

  .form-item {
    flex-direction: column;
    min-width: 0;
    max-width: 150px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
  }

  input, select {
    min-width: 0;
    width: auto;
  }

  fieldset div.item {
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  fieldset {
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    padding: 10px 40px 10px 40px;
    align-items: center;
  }
}


