/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
  font-size: 14px;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  
}

img {
  width: 100%;
}

/* --- Form --- */

.form-button {
  justify-content: center;
  align-self: center;
}

.form-item {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

button {
  font-size: 24px;
  display: flex;
  justify-content: center;
  background-color: #ff385c;
  padding: 15px;
  margin-top: 10px;
  color: #fff;
  border: none;
}

fieldset div {
  display: flex;
  justify-content: space-between;
}

input, select {
  width: 160px;
  min-width: 0;
}

fieldset {
  min-width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 15px;
  border-color: #ff385c;
  
}

/* div label, div input, select {
  margin: 10px 10px 10px 0px;
  justify-content: space-around;
} */

/* ---  Groups & Items --- */

.group {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}

.item {
  flex: 1;
  margin-bottom: 10px;
}

.item-double {
  display: flex;
  flex: 2;
}


/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 5px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  justify-content: center;
  display: flex;
}

header nav {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 10px;
} 

header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

header nav ul li {
  
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  flex-direction: row;
  text-decoration: none;
  padding: 0 20px 0 0;
  margin-right: 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}


/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  .group {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  }

  .p-two {
    flex: 2;
  }

  /*--Form Box--*/

  .form-item {
    flex-direction: column;
    min-width: 0;
    max-width: 150px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
  }

  input  {
    width: auto;
  }

  fieldset div.item {
    display: flex;
    align-content: center;
    flex-direction: column;
}

  ul {
    justify-content: end;
  }

  header .group {
    justify-content: space-around;
    display: flex;
    align-items: center;
  }

  fieldset {
    flex-direction: row;
    justify-content: space-between;
  }

  header {
  flex-direction: row;
  justify-content: space-between;
  }

  header nav ul{
    margin: 0;
    justify-content: end;
  }

  .logo {
    font-size: 30px;
    align-self: flex-start;
  }

  .item {
    margin: 5px 5px 5px 5px;
  }

  button {
    padding: 10px 40px 10px 40px;
    align-items: center;
  }
}
